body {
  font-family: "open sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: blue; }

header h2 {
  color: #2abe74; }

.site-footer {
  background-image: linear-gradient(#2abe74, white);
  padding: 20px 0; }
